.question-card {
  width: 600px;
  margin: 80px auto;
  padding: 30px;
  background: rgb(255, 230, 190);
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(27, 43, 2, 0.497);
  text-align: center;
  direction: rtl;
}

.question-title {
  font-size: 26px;
  font-weight: bold;
  color: rgb(19, 195, 183);
  margin-bottom: 30px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
  align-items: center;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.home-button {
  margin-top: 20px;
  margin-right: 6px;
  padding: 10px 6px;
  font-size: 18px;
  background: #7343d1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.home-button:hover {
  background: #222;
}


.submit-button,
.next-button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #007bff;
  color: white;
}

.submit-button:disabled {
  background: #9bb7d4;
  cursor: not-allowed;
}

.correct {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.wrong {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.your-answer {
  font-size: 18px;
  margin-bottom: 10px;
}

.explanation {
  margin-top: 20px;
  font-style: italic;
  font-size: 17px;
  color: #555;
}
